<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycompany.mapper.MenuMapper">
	<select id="getPizzaList" resultType="com.mycompany.domain.PizzaDTO">
		SELECT * FROM pizza_menu
	</select>
	
	<select id="getDrinkList" resultType="com.mycompany.domain.DrinkDTO">
		SELECT * FROM drink_etc
	</select>
</mapper>
